.racs{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    
}

.racs div{
    width: 20px;
    height: 20px;
    
}

.kigyo{
background-color: green;
border-radius: 13px;
}

.alma{
    background-color: red;
    border-radius: 13px;
}

#fel{
       position: absolute;
       top: 35px;
       left: 220px;
       width: 60px;
       height: 40px;   
}

#jobb{
       position: absolute;
       top: 80px;
       left: 220px;
       width: 60px;
       height: 40px;   
}

#bal{
       position: absolute;
       top: 125px;
       left: 220px;
       width: 60px;
       height: 40px;   
}

#le{
       position: absolute;
       top: 170px;
       left: 220px;
       width: 60px;
       height: 40px;   
}
