.racs{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    
}

.racs div{
    width: 20px;
    height: 20px;
    
}

.kigyo{
background-color: green;
border-radius: 12px;
}

.alma{
    background-color: red;
    border-radius: 12px;
}